.about-section {
    text-align: center;
    padding: 80px 0; 
}

.about-heading h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
}

.about-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.about-image {
    text-align: center;
    margin-left: 90px; 
    flex: 0 0 auto; 
}

.about-image img {
    width: auto; 
    height: 350px; 
    border-radius: 20%;
    margin-left: 30px;
}

.about-text {
    width: 600px;
    padding: 0px 50px;
    margin-right: 25px;
}

.about-text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding: 0px 60px;
}


.about-text2 {
    padding: 0px 50px;
    display: block;
    margin:auto;
    width: fit-content;
    margin-left: 25px;
    margin-top: 50px;
}
.about-text2 h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.about-text2 img{
    margin-top: 20px;
    width: 60px;
    height: 60px;
    margin-left:50px;
    border:20px;
}